
/bin
/obj
/.vs/WeatherForecast/FileContentIndex
.vs/WeatherForecast/DesignTimeBuild/.dtbcache.v2
.vs/WeatherForecast/v17/.suo
.vs/WeatherForecast/DesignTimeBuild/.dtbcache.v2
.vs/WeatherForecast/v17/.suo
.vs/WeatherForecast/DesignTimeBuild/.dtbcache.v2
.vs/WeatherForecast/DesignTimeBuild/.dtbcache.v2
.vs/WeatherForecast/DesignTimeBuild/.dtbcache.v2
/.vs/WeatherForecast/DesignTimeBuild
.vs/WeatherForecast/DesignTimeBuild/.dtbcache.v2
.vs/WeatherForecast/v17/.suo
