@{
    ViewData["Title"] = "About Weather Forecast";
}

<div>
    <h1 class="display-4">Weather Forecast</h1>
    <br />
    <p>The following is a website written in ASP.NET Core for educational purposes. It calls Weather API (<a href="https://www.visualcrossing.com">www.visualcrossing.com</a>) to get weather forecast information for specified cities.</p>
    <p>The Visual Crossing Weather API provides developers weather data for any programming language or script. The Weather API provides instant and scalable access to historical weather reports and forecast data in an easy-to-use JSON or text format. See <a href="https://www.visualcrossing.com/weather-api">https://www.visualcrossing.com/weather-api</a> for more information and additional documentation, sample code, and use cases.</p>
    <p>To sign up for a free account to view, download weather data, and build weather API queries, see <a href="https://www.visualcrossing.com/weather/weather-data-services">https://www.visualcrossing.com/weather/weather-data-services</a></p>
    <p>Documentation for the Weather API can be found at https://www.visualcrossing.com/resources/documentation/weather-api/weather-api-documentation/. The documentation of the available data on weather elements and their values can be found at <a href="https://www.visualcrossing.com/resources/documentation/weather-data/weather-data-documentation/">https://www.visualcrossing.com/resources/documentation/weather-data/weather-data-documentation/</a>.</p>
    <p>Weather data is sourced from Visual Crossing Weather Data (see <a href="https://www.visualcrossing.com/weather-data">https://www.visualcrossing.com/weather-data</a>)</p>
</div>