@model WeatherData
@{
    Layout = "_Layout";
    ViewBag.Title = "Daily Forecast";
}

@try
{
    @if (Model is null)
    {
        <h1>I am sorry, I can't find your city :(</h1>

        <br />
        <a asp-action="" class="btn btn-sm btn-primary">Search Other City</a>
        return;
    }

    <div style="text-align: center;">
        <h2>@Model.Period.ToUpperInvariant() in @Model.Address</h2>
    </div>

    <h2>Daily</h2>
    @if (Model.Period != "last24hours" && Model.Period != "next24hours")
    {
        Html.RenderPartial("_DaysTable", @Model.Days);
    }
    else
    {
        Html.RenderPartial("_HoursTable", Model.Days[0].Hours);
    }
    <a asp-action="" class="btn btn-sm btn-primary">Search Other City</a>
    <br />
}
catch
{

    <h1>I am sorry, I can't find your city :(</h1>

    <br />
    <a asp-action="" class="btn btn-sm btn-primary">Search Other City</a>

}