@model WeatherData
@{
    Layout = "_Layout"; 
    ViewBag.Title = "Daily Forecast";
}

@try
{
    <div style="text-align: center;">
        <h2>Location in @Model.Address</h2>
    </div>

    <h2>Daily</h2>
    Html.RenderPartial("_DaysTable", Model.Days);
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <a asp-action="" class="btn btn-sm btn-primary">Search Other City</a>
    <br />
}
catch
{

    <h1>I am sorry, I can't find your city :(</h1>

    <br />
    <a asp-action="" class="btn btn-sm btn-primary">Search Other City</a>
}

<script>
    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            title: {
                text: "Dew Trends By Days"
            },
            axisY: {
                title: "Dew amount C"
            },
            data: [{
                type: "column",
                dataPoints: @Html.Raw(ViewBag.Dew)
        }]
        });
        chart.render();

    }
</script>