@model WeatherData
@{
    Layout = "_Layout";
    ViewBag.Title = "Daily Forecast";
}

@try
{
    <div style="text-align: center;">
        <h2>Location in @Model.Address</h2>
    </div>

    <h2>Daily</h2>

    Html.RenderPartial("_DaysTable", Model.Days);

    <div id="chartContainer" style="height: 370px; width: 100%;"></div>

    <a asp-action="" class="btn btn-sm btn-primary">Search Other City</a>
    <br />
}
catch
{

    <h1>I am sorry, I can't find your city :(</h1>

    <br />
    <a asp-action="" class="btn btn-sm btn-primary">Search Other City</a>

}

<script>
	window.onload = function () {

		var chart = new CanvasJS.Chart("chartContainer", {
			animationEnabled: true,
			exportEnabled: true,
			title: {
				text: "Average Max/Min Temperature"
			},
			axisY: {
				includeZero: false,
				title: "Temperature (°C)",
				suffix: " °C"
			},
			axisX: {
				valueFormatString: "DD MMM"
			},
			data: [
				{
					type: "rangeArea",
					xValueFormatString: "DD MMM",
					yValueFormatString: "#,##0.## °C",
					toolTipContent: " <span style=\"color:#4F81BC\">{x}</span><br><b>Min:</b> {y[0]}<br><b>Max:</b> {y[1]}",
					xValueType: "dateTime",
					dataPoints: @Html.Raw(ViewBag.Temp)
				}]
		});
		chart.render();

	}
</script>