@model WeatherData
@{
    Layout = "_Layout";
    ViewBag.Title = "Daily Forecast";
}

@try
{
    <div style="text-align: center;">
        <h2>Location in @Model.Address</h2>
    </div>

    <h2>Daily</h2>

    Html.RenderPartial("_DaysTable", Model.Days);

    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>

    <a asp-action="" class="btn btn-sm btn-primary">Search Other City</a>
    <br />
}
catch
{

    <h1>I am sorry, I can't find your city :(</h1>

    <br />
    <a asp-action="" class="btn btn-sm btn-primary">Search Other City</a>

}

<script>
    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Feelslike forecast by days"
            },
            axisX: {
                valueFormatString: "DD MMM"
            },
            axisY: {
                title: "Feelslike"
            },
            data: [{
                type: "spline",
                xValueType: "dateTime",
                xValueFormatString: "DD MMM",
                dataPoints: @Html.Raw(ViewBag.Feelslike)
            }]
            });
        chart.render();

    }
</script>